{% extends 'base.html' %}

{% block title %}
Register
{% endblock title %}




{% block content %}
<body class="text-center">
<div class="container">
    <h1 class="">Create a Account</h1>

<form action="" method="POST" class="'form-register" style="color:white;margin-top:50px;">
<!--    {{ form.username.label() }}-->
    {{ form.hidden_tag() }}
    {{ form.username(class='form-control', placeholder='User Name') }} <br>
    {{ form.email_address(class='form-control', placeholder='Email') }} <br>
    {{ form.password1(class='form-control', placeholder='Password') }} <br>
    {{ form.password2(class='form-control', placeholder='Confirm Password') }} <br>
    {{ form.submit(class='btn btn-lg btn-block btn-dark')}}<br>
    <div class="checkbox mb-3">
               <h6>Already have an Account?</h6>
               <a class="btn btn-sm btn-secondary" href="{{ url_for('login_page') }}">Sign In</a>
            </div>

</form>
</div>

</body>

{% endblock content %}